:root {
  --ra-card-size: 150px;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.no-groups {
  grid-column: span 2;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-groups a {
  min-width: 220px;
  width: 50%;
}

.group-info {
  min-width: 300px;
  text-align: left;
}

.ra-drop {
  width: var(--ra-card-size);
  height: var(--ra-card-size);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prefs {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.pref {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ra-card {
  width: var(--ra-card-size);
  height: var(--ra-card-size);
  padding: 0;
  text-align: center;
  display: grid;
  grid-template-rows: 70% 1fr;
}

.ra-card img {
  width: 100%;
  height: 100%;
}

.ra-card p {
  margin: 0;
  align-self: center;
}

.ra-drop.occupied {
  padding: 0;
  color: black !important;
  border: 0;
}

.ra {
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
